/**
 * variables
 * contains variables for the graphic design.
 */

// FULL SITE MAX WIDTH :
//$maxsitewidth: 100%;
$maxsitewidth: 1920px;

// DEFAULT WRAPPER MARGINS :
$defaultmargin: 12.5%;

// BREAKPOINTS :
$breakpoints: (
        'small': (min-width: 768px),
        'medium': (min-width: 992px),
        'large': (min-width: 1200px),
        'wide': (min-width: 1440px)
) !default;

// COLORS :
$white: #FFFFFF;
$whitegrey: #F4F4F4;
$lightgrey: #DEE1E5;
$grey: #B7BDC8;
$darkgrey: #707070;
$black: #000000;
$orange: #FD9E00;
$yellow: #FFDD00;
$darkblue: #001F44;