/**
 * variables
 * contains variables for the graphic design.
 */

// SITE WIDTHS :
$full_width: 100%;
$min_width: 320px;
$max_width: 1366px; // 1366px
$max_content_width: 1066px; // 1066px
$max_margin: 150px; // ($max_width - $max_content_width ) / 2

// SITE FONT SIZES :
/*$min_font: 14px;
$max_font: 28px;*/
$min_font: 12px;
$max_font: 18px;

// DEFAULT WRAPPER MARGINS (between contairers and wrappers):
$defaultmargin: 11%; // ($max_margin / $max_width) * 100%

// THUMBNAILS ASPECT RATIO :
//$aspectratio: 45%;  // ratio de 2.1 pour 1 (ratio actuel ieseg 2015)
$aspectratio: 70%;

// BREAKPOINTS :
$breakpoints: (
        'small': (min-width: 768px),
        'small-medium': (min-width: 992px),
        'medium': (min-width: $max_content_width),
        'large': (min-width: $max_width),
        'wide': (min-width: 1440px),
        'huge': (min-width: 1920px)
) !default;

// COLORS :
$white: #FFFFFF;
$whitegrey: #F4F4F4;
$lightgrey: #DEE1E5;
$grey: #B7BDC8;
$darkgrey: #707070;
$black: #000000;
$orange: #FD9E00;
$yellow: #FFDD00;
$darkblue: #001F44;