/**
 * landingpage
 *  contains styling for the default landing page
 */

// SECTION HERO
.hero-container {
  @include container-width();
  .hero-wrapper {
    .hero {
      position: relative;

      /*.slick-arrow {
        position: absolute;
        z-index: 1;
        top: calc(75% - 3.5rem);
        right: 3.5rem;
        display: block;
        margin: 0;
        padding: 0;
        width: 2rem;
        height: 2rem;
        background: none;
        border: none;
        cursor: pointer;
        @include respond-to('small') {
          top: auto;
          bottom: 0;
        }

        &:active, &:focus {
          outline: none;
        }

        &.slick-prev {
          background: url('../img/pictos/picto_fleche_gauche_bg_bleu.svg') no-repeat center/contain;
        }

        &.slick-next {
          background: url('../img/pictos/picto_fleche_droite_bg_bleu.svg') no-repeat center/contain;
          transform: translate(2rem, 2rem);
          @include respond-to('small') {
            background: url('../img/pictos/picto_fleche_droite_bg_blanc.svg') no-repeat center/contain;
          }
        }
      }*/

      .hero-slide {
        background-color: $darkblue;
        position: relative;

        .bg {
          width: 100%;
          padding-bottom: 75%;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: cover;
          @include respond-to('small') {
            padding-bottom: 33.33%;
            background-size: cover;
            background-position: bottom right;
          }
        }

        .content {
          @include respond-to('small') {
            position: absolute;
            left: 50%;
            bottom: 2%;
            transform: translateX(-50%);
          }

          .titre {
            position: relative;
            text-transform: uppercase;
            color: $yellow;
            font-weight: 900;
            font-size: 2rem;
            line-height: 1;
            margin: 0.5rem 0 0 0;
            padding: 1rem;
            border-bottom: solid 5px $white;

            &::after {
              content: '';
              display: block;
              position: absolute;
              top: 100%;
              left: calc(50% - 2rem);
              width: 0;
              height: 0;
              border-top: 1rem solid $white;
              border-right: 1.5rem solid transparent;
              border-left: 1.5rem solid transparent;
              order: -1;

            }

            @include respond-to('small') {
              border-bottom: none;
              &::after {
                display: none;
              }
            }
          }

          .cta {
            margin: 0.5rem 1rem;
            padding: 0;
            display: flex;
            align-items: center;
            color: $white;
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            @include respond-to('small') {
              color: $darkblue;
            }

            &::before {
              content: '';
              display: block;
              width: 1rem;
              height: 1rem;
              background: url("../img/pictos/picto_fleche_blanche.svg") no-repeat center/contain;
              margin: 0 0.5rem 0 0;
              @include respond-to('small') {
                background: url("../img/pictos/picto_fleche_bleue.svg") no-repeat center/contain;
              }
            }
          }
        }

      }
    }
  }
}

// SECTION KEYFACTS
.keyfacts-container {
  @include container-width();
  background-color: $darkblue;
  color: $white;

  .keyfacts-wrapper {
    @include wrapper-width(10%);
    padding: 1rem 0;

    .keyfacts {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;

      .keyfact {
        margin: 0.5rem;
        padding: 0;
        flex: 0 0 40%;
        display: flex;
        @include respond-to('medium') {
          flex: 0 0 20%;
        }

        .picto {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          width: 25px;
          height: 25px;
          @include respond-to('small') {
            justify-content: center;
            height: 40px;
            width: auto;
          }

          img {
            max-height: 100%;
            width: auto;
          }
        }

        .content {
          margin: 0.125rem 0.5rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          p {
            margin: 0;
            padding: 0;

            &.fact {
              font-size: 1.25rem;
              font-weight: 700;
              text-transform: uppercase;
            }

            &.key {
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }
}

// SECTION INSCRIPTION
.inscription-container {
  @include container-width();

  .inscription-wrapper {
    @include wrapper-width(10%);
    background-color: $whitegrey;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include respond-to('small') {
      margin-top: 2rem;
      flex-direction: row;
    }

    .info {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        margin: 0.25rem 0;
        padding: 0;
        font-size: 1.25rem;
        font-weight: 700;
        text-align: center;
        @include respond-to('small') {
          text-align: left;
        }
      }
    }

    .btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: auto;
      margin: 0.5rem auto;

      strong {
        font-weight: 700;
        text-transform: uppercase;
      }

      @include respond-to('small') {
        margin: 0.5rem;
        width: calc(30% - 2rem);
      }
    }

  }
}

// SECTION CONTENT
.content-container {
  @include container-width();

  .content-wrapper {
    @include wrapper-width();
    padding: 1rem;
  }
}

// SECTION VIDEO
.video-container {
  @include container-width();
  background-color: $darkblue;

  .video-wrapper {
    @include wrapper-width();
    padding: 1rem;

    > .titre {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin: 0.5rem -50vw;
      margin-left: calc(1rem - 50vw);
      display: flex;
      align-items: center;
      text-transform: uppercase;
      background-color: $white;
      color: $darkblue;
      font-weight: 900;
      font-size: 1.5rem;
      line-height: 1;
      @include respond-to('wide') {
        margin-left: calc((100vw - 1440px) / 2 - 50vw + 1rem);
      }

      &::before {
        content: '';
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        background: $darkblue url("../img/pictos/picto_fleche_bg_blanc.svg") no-repeat left center/50%;
        margin: 0;
        order: -2;
      }

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        margin: 0 0.25rem 0 0;
        background-color: $darkblue;
        border-top: 2.5rem solid $white;
        border-left: 0.75rem solid transparent;
        order: -1;
      }
    }

    > figure {
      margin: 0;

      > .wp-block-embed__wrapper {
        position: relative;
        width: 100%;
        background-color: $grey;
        padding-bottom: 56.25%;
        margin: 1rem 0;

        > iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

// SECTION NUMBERS
.numbers-container {
  @include container-width();
  background-color: $whitegrey;
  padding: 0.5rem 0;

  .numbers-wrapper {
    @include wrapper-width();
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titre2 {
      align-self: flex-start;
    }

    .numbers {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 1rem;

      .number {
        margin: 0.5rem 0;
        padding: 0 0.5rem;
        flex: 0 0 40%;
        display: flex;
        flex-direction: column;
        @include respond-to('small') {
          flex: 0 0 20%;
        }

        a {
          text-decoration: none;
        }

        .picto {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-end;
          width: auto;
          height: 100px;

          img {
            max-height: 100%;
            width: auto;
          }
        }

        .value {
          position: relative;
          display: inline-block;
          font-size: 3rem;
          font-weight: 900;
          color: $grey;
          overflow: hidden;
          background: linear-gradient(to top, $darkblue, $darkblue 50%, $grey 50%) no-repeat 0 0;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: 100% 200%;
          transition: background-position 275ms ease;

          &:hover {
            background-position: 0 100%;
          }
        }

        .unit {
          font-size: 1rem;
          font-weight: 600;
          color: $darkblue;
        }
      }
    }
  }
}

// SECTION RESUME (ACCORDION)
.content-container {
  @include container-width();

  .content-wrapper {
    @include wrapper-width();
    padding: 1rem;

    .accordion {
      &__title {
        img {
          margin: 0 1rem 0 0;
          width: auto;
          height: 1.5rem;
        }

      }
    }
  }
}

// SECTION TESTIMONIALS
.testis-container {
  @include container-width();

  .testis-wrapper {
    @include wrapper-width();
    display: flex;
    flex-direction: column;

    > .titre {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: $darkblue;
      font-weight: 900;
      font-size: 2rem;
      line-height: 1;
      margin: 0.5rem 0 0.5rem 1rem;

      &::before {
        content: '';
        display: block;
        width: 2rem;
        height: 2rem;
        background: url("../img/pictos/picto_temoignages.svg") no-repeat center/contain;
        margin: 0 0.5rem 0 0;
      }
    }

    .testimonials {
      position: relative;

      a {
        text-decoration: none;
        color: inherit;
      }

      .slick-arrow {
        position: absolute;
        z-index: 1;
        bottom: 1.5rem;
        right: 3.5rem;
        display: block;
        margin: 0;
        padding: 0;
        width: 2rem;
        height: 2rem;
        background: none;
        border: none;
        cursor: pointer;
        @include respond-to('small') {
          right: 4.5rem;
        }

        &:active, &:focus {
          outline: none;
        }

        &.slick-prev {
          background: url('../img/pictos/picto_fleche_gauche_bg_bleu.svg') no-repeat center/contain;
        }

        &.slick-next {
          background: url('../img/pictos/picto_fleche_droite_bg_blanc.svg') no-repeat center/contain;
          transform: translate(2rem, 2rem);
        }
      }

      .testi-slide {

        .testimonial {
          margin: 1rem 0;
          position: relative;
          display: flex;
          flex-direction: column;
          @include respond-to('small') {
            margin: 1rem;
            flex-direction: row;
            justify-content: flex-start;
          }

          .thumbnail {
            position: relative;
            display: block;
            width: 50%;
            height: auto;
            margin: 0;
            padding: 0;
            @include respond-to('small') {
              width: 30%;
            }

            img {
              display: block;
              background-color: $whitegrey;
              width: 100%;
              height: auto;
            }
          }

          .infos {
            position: absolute;
            top: 5%;
            left: 40%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            @include respond-to('small') {
              top: 0.35rem;
              left: calc(30% - 0.5rem);
            }

            .titre {
              display: inline-block;
              margin: 0;
              padding: 0.25rem 0.5rem;
              background-color: $yellow;
              color: $darkblue;
              font-size: 1rem;
              font-weight: 700;
              text-transform: uppercase;
            }

            .meta {
              display: inline-block;
              margin: -0.5rem 0.5rem 0 0.5rem;
              padding: 0.25rem 0.5rem;
              background-color: $yellow;
              color: $darkblue;
              font-size: 0.75rem;
              font-weight: 600;
              text-transform: uppercase;
            }
          }

          .testi-excerpt {
            margin: -2rem 1.5rem 0.5rem 1.5rem;
            padding: 3.5rem 1rem 2rem 1rem;
            background-color: $whitegrey;
            @include respond-to('small') {
              margin: 1.5rem 1.5rem 0.5rem -2rem;
              padding: 2.5rem 3rem 1rem 5rem;
              font-size: 0.75rem;
              flex: 1;
            }
          }
        }
      }
    }

    .see-all {
      align-self: center;
    }
  }
}

// SECTION FORM
.form-container {
  @include container-width();
  background-color: $darkblue;
  color: $white;
  padding: 0.5rem 0;

  .form-wrapper {
    @include wrapper-width();
    padding: 1rem;
  }
}