/**
 * footer
 * contains styling for the footer.
 */

.footer {
  border-top: solid 1px $white;
  @include respond-to('small') {
    border-top: none;
  }

  .footer-container {
    background-color: $darkblue;
    @include container-width();
    color: $white;
    padding: 0.5rem 0;
    font-size: 0.75rem;
    line-height: 1.5em;
    & + .footer-container {
      padding-bottom: 2rem;
    }

    .footer-wrapper {
      @include wrapper-margins();
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include respond-to('small') {
        flex-direction: row;
      }

      .accreditations {
        margin: 0.5rem auto 0 auto;
        @include respond-to('small') {
          margin: 0;
        }

        img {
          width: 100%;
          max-width: 23rem;
        }
      }

      .titre {
        text-transform: uppercase;
        font-weight: 700;
        color: $darkblue;

        span {
          display: inline-block;
          padding: 0.125rem 0.5rem;
          background-color: $white;
        }
      }

      .adresses {
        border-top: solid 1px $white;
        padding: 2rem 2rem 0 2rem;
        columns: 2;
        @include respond-to('small') {
          width: 50%;
          padding: 2rem 1rem 0 0;
        }

        p {
          margin: 0 0 1rem 0;
          font-weight: 200;

          strong {
            font-weight: 700;
          }

          &.titre {
            font-weight: 700;
            column-span: all;
          }
        }
      }

      .contacts {
        padding: 1rem 2rem 0 2rem;
        columns: 2;
        @include respond-to('small') {
          width: 50%;
          border-top: solid 1px $white;
          border-left: solid 1px $white;
          padding: 2rem 1rem 0 2rem;
        }

        p {
          margin: 0 0 1rem 0;

          &.titre {
            column-span: all;
          }

          &.email {
            a {
              color: $white;
              text-decoration: underline;
              display: flex;
              align-items: center;

              &::before {
                content: '';
                display: block;
                background: url("../img/pictos/picto_enveloppe.svg") no-repeat center left/contain;
                height: 0.75rem;
                width: 1.5rem;
              }
            }
          }

          &.phone {
            a {
              color: $white;
              text-decoration: underline;
              display: flex;
              align-items: center;

              &::before {
                content: '';
                display: block;
                background: url("../img/pictos/picto_telephone.svg") no-repeat center left/contain;
                height: 0.75rem;
                width: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}