/**
 * footer
 * contains styling for the footer.
 */

.footer {

  .footer-container {
    @extend .container;
    background-color: $darkblue;
    color: $white;
    margin: 0;
    padding: 1rem 0;
    font-size: 0.75rem;
    line-height: 1.5em;

    .footer-wrapper {
      @extend .wrapper;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .accreditations {
        margin: 1rem;

        img {
          width: 100%;
          max-width: 23rem;
        }
      }

      .titre {
        text-transform: uppercase;
        font-weight: 700;
        color: $darkblue;

        span {
          display: inline-block;
          padding: 0.125rem 0.5rem;
          background-color: $white;
        }
      }

      .adresses {
        border-top: solid 1px $white;
        padding: 1rem 1rem 0 1rem;
        width: 50%;
        columns: 1;
        @include respond-to('small') {
          columns: 2;
        }

        p {
          margin: 0 0 1rem 0;

          &.titre {
            column-span: all;
          }
        }
      }

      .contacts {
        border-top: solid 1px $white;
        border-left: solid 1px $white;
        padding: 1rem 1rem 0 1rem;
        width: 50%;
        columns: 1;
        @include respond-to('small') {
          columns: 2;
        }

        p {
          margin: 0 0 1rem 0;

          &.titre {
            column-span: all;
          }

          &.email {
            a {
              color: $white;
              text-decoration: underline;
              display: flex;
              align-items: center;

              &::before {
                content: '';
                display: block;
                background: url("../img/pictos/picto_enveloppe.svg") no-repeat center left/contain;
                height: 0.75rem;
                width: 1.5rem;
              }
            }
          }

          &.phone {
            a {
              color: $white;
              text-decoration: underline;
              display: flex;
              align-items: center;

              &::before {
                content: '';
                display: block;
                background: url("../img/pictos/picto_telephone.svg") no-repeat center left/contain;
                height: 0.75rem;
                width: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}