/**
 * header
 * contains styling for the header.
 */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .header-container {
    @include container-width();
    background-color: $white;

    .header-wrapper {
      @include wrapper-margins();
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @include respond-to('small') {
        align-items: center;
        padding: 1rem 0;
      }

      .header-logo {
        //flex: 1;
        //padding: 0.75rem 0.25rem;
        width: 100%;
        max-width: 100px;
        padding: 0.25rem 0.75rem;
        @include respond-to('small') {
          flex: auto;
          width: 100%;
          max-width: 220px;
        }

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }

      .btn {
        margin: 0;
        padding: 0;
        flex: 2 0 200px;
        white-space: nowrap;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        strong {
          margin: 0 0.25rem;
        }

        @include respond-to('small') {
          flex: 0 0 200px;
          margin: 0.5rem;
          padding: 0.5rem 2rem;
          display: inline-block;

          strong {
            margin: 0;
          }
        }
      }
    }
  }
}