/**
 * site
 * contains global styles for basic layout site
 */

html {

  body {
    .main-container {
      overflow-x: hidden; // for section titles
      margin-top: 36px;
      @include respond-to('small') {
        margin-top: 72px;
      }
    }
  }
}