/**
 * site
 * contains global styles for basic layout site
 */

html {

  body {
    .container {
      width: 100%;
      max-width: 1920px;
      margin: 0 auto;
      .wrapper {
        margin-right: auto;
        margin-left: auto;
        @include respond-to('small') {
          margin-right: 12.5%;
          margin-left: 12.5%;
        }
      }
    }
  }
}