/**
 * Accordions
 *  contains styling for accordions
 */

.accordion {
  margin: 2rem auto;
  line-height: 1.6;

  &__item {
    background-color: $whitegrey;
    margin: 0.75rem 0;
  }

  &__title {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    @include respond-to('small') {
      padding: 1rem 2rem;
    }

    &:after {
      content: "\00d7";
      transform-origin: center;
      transform-style: preserve-3d;
      transform: rotate(-45deg);
      font-size: 2rem;
      font-weight: 300;
      transition: transform .2s ease-out;
      margin-left: auto;
    }

    > * {
      margin: 1rem 0 0.5rem 0;
      padding: 0 0.5rem 0 0;
      font-size: 1.667rem;
      @include respond-to('small') {
      }
    }

    &:hover,
    &:focus {
      cursor: pointer;
      outline: none;

      > * {
        color: $orange;
      }
    }

    .is-expanded & {
      &:after {
        transform: rotate(-90deg);
      }

    }
  }

  &__content-inner {
    background-color: $white;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    font-size: 1.167rem;
    @include respond-to('small') {
      font-size: 1rem;
      padding: 1rem 2rem 0.5rem 3.5rem;
    }
  }

  &__content {
    transition: height 0.2s ease-out;
    height: 0;
    overflow: hidden;
  }
}