/**
 * Buttons
 *  contains styling for buttons
 */

.btn {
  cursor: pointer;
  border: none;
  margin: 0.5rem;
  //padding: 0.75rem 2rem;
  padding: 0.75rem 0;
  font-size: 1rem;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-size: 100% 210%;
  transition: background-position 0.2s cubic-bezier(0, 0, 0, 1);
  background-position: top;
  width: 200px;
  @include respond-to('small') {
    width: 280px;
  }

  small {
    font-size: 0.75em;
  }

  &:hover {
    background-position: bottom;
  }
}

.btn-transparent {
  @extend .btn;
  background-image: linear-gradient(to top, $darkblue 50%, transparent 0);
  color: $darkblue;
  border: solid 1px $darkblue;

  &:hover {
    color: $white;
  }
}

.btn-blanc {
  @extend .btn;
  background-image: linear-gradient(to top, $darkblue 50%, $white 0);
  color: $darkblue;
  border: solid 1px $darkblue;

  &:hover {
    color: $white;
  }
}

.btn-jaune {
  @extend .btn;
  background-image: linear-gradient(to top, $darkblue 50%, $yellow 0);
  color: $darkblue;

  &:hover {
    color: $white;
  }
}

.btn-jaune-to-blanc {
  @extend .btn-jaune;
  background-image: linear-gradient(to top, $white 50%, $yellow 0);

  &:hover {
    color: $darkblue;
  }
}

