/**
 * Forms
 *  contains styling for forms
 */

.ninja-forms-cont {
  .ninja-forms-form-wrap {
    .ninja-forms-response-msg {
    }

    .ninja-forms-form {
      .ninja-forms-all-fields-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 0.75rem;
        font-weight: 300;
        //align-items: center;
        @include respond-to('small') {
          flex-direction: row;
          flex-wrap: wrap;
        }

        .ninja-forms-req-symbol {
          color: $white;
        }
        .ninja-forms-required-items {
          width: calc(100% - 2rem);
          margin: 0.5rem;
          font-style: italic;
        }

        .field-wrap {
          width: calc(100% - 2rem);
          @include respond-to('small') {
            width: calc(50% - 2rem);
          }
          margin: 0.5rem;

          &.label-inside {
          }

          &.text-wrap {
            .ninja-forms-field {
              background: transparent;
              border: none;
              border-bottom: solid 1px $white;
              color: $white;
              text-transform: uppercase;
              font-size: 1rem;
              font-weight: 700;
            }
          }

          &.submit-wrap {
            display: flex;
            justify-content: center;
            @include respond-to('small') {
              justify-content: flex-end;
            }

            .ninja-forms-field {
              @extend .btn-jaune-to-blanc;
            }
          }

          &.checkbox-wrap {
            display: flex;
            flex-direction: row-reverse;
            //align-items: center;
            input[type=checkbox] {
              width: 0.75rem;
              height: 0.75rem;
            }
            label {
              font-weight: 300;
              a {
                color: $white;
              }
            }
          }

          .ninja-forms-field-error {
          }
        }
      }
    }
  }
}